:root {
    --purple: #830abb;
    --black: #222324;
    --brown: #6F3624;
    --blue: #00509C;
    --white: #E9E9E9;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Inter";
    background-color: rgb(166, 166, 166);
}
body::-webkit-scrollbar {
    width: 6px; 
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); 
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}
body::-webkit-scrollbar-track {
    background: transparent; 
}

main {
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
    padding: 50px 20px;
}

/* -- HEADER --*/
.header{
    position: fixed;
    width: 100%;
    top: -10px; /* For it to go up a little */
    z-index: 1000; /* Makes sure it's on top of everything */
    backdrop-filter: blur(5px);
    background-color: #4E216199;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0px 20px;
    color: #b4adad;
    position: sticky;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}
.header__links-container {
    list-style: none;
    position: fixed;
    top: 0;
    right: -100%; /* Outside the window */
    height: 100vh; /* Takes the whole height */
    width: 250px; /* Width of the menu */
    background-color: rgba(78, 33, 97, 0.9); /* Background color */
    display: flex;
    flex-direction: column; /* Stack the elements */
    gap: 20px; /* Space between the elements */
    padding-top: 50px; /* Space from the top */
    transition: right 0.3s ease-in-out; /* Transition */
    padding-inline-start: 20px; /* Padding for the text */
}
.header__links-container a {
    color: #FFFFFF99;
    font-weight: bold;
    text-decoration: none;
}
.header__links-container a:hover {
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF99;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transition */
}

.nav-link.active {
    color: #FFFFFF;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: #FFFFFF99;
    cursor: pointer;
}

/* When the menu is active */
.header__links-container.active {
    right: 0; /* Comes into the screen */
}
/* -- HEADER ENDS --*/


/* PRESENTATION */
.presentation {
    padding: 100px 0px 50px; /* 100px up, 0px to the sides, 50px down */	
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
    min-height: 70vh;
}
.presentation__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    max-width: 100%; /* for it to not overflow*/
    overflow: hidden;
}
.presentation__text h2 {
    font-size: 3rem;
    margin: 0;
    width: 100%;
    font-weight: bold; /* it was previously already bold because of browser default, but just in case */
}
.presentation__text p {
    max-width: 400px;
    font-size: 20px;
    padding: 0px 8px; /*to make it more column like*/
}
.presentation__icon-container {
    margin-top: 20px;
    max-width: 100%; /* for it to not overflow*/
    overflow: hidden;
}
#dynamic-word {
    display: inline-block;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    white-space: nowrap;
}

#current-image, #new-image, #current-laptop-image, #new-laptop-image {
    transition: transform 0.5s ease-in-out, opacity 0.5s;
    position: relative;
    white-space: nowrap;
}


/* Services */
.services {
    background-color: white;
    padding: 40px;
    text-align: center;
}
.services__title {
    font-size: 28px;
    margin-bottom: 20px;
}
.service__cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.service__card {
    background-color: #333;
    color: white;
    padding: 20px 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
}
.service__cards h3 {
    margin-top: 10px;
}
.service__cards p {
    font-size: 14px;
}
.service__circle {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 auto 10px;
}
/* Services ends*/


/* -- PORTFOLIO -- */
.portfolio {
    background: rgb(86,8,122);
background: radial-gradient(circle, rgba(86,8,122,1) 0%, rgba(34,35,36,1) 40%);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    row-gap: 25px;
}
.portfolio__title {
    text-align: center;
    font-size: clamp(2rem, 5vw, 2.5rem);
    margin: 30px 0 0 0;
    letter-spacing: 2.5px;
}
.portfolio__articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    padding: 5px;
    width: 100%;
    max-width: 100%; /* for it to not overflow*/
    overflow: hidden;
}
.portfolio__article {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 9px #2e2e2e;

    opacity: 0; /* Initially invisible */
    transform: translateX(-50px); /* Moves to the left */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.portfolio__article.visible:hover {
    transform: scale(1.03);
}
/* animations */
/* ARTICLES ON THE RIGHT MOVE TO THE LEFT */
.portfolio__article:nth-child(2n) {
    transform: translateX(50px); /* Moves to the right */
}
.portfolio__article.visible {
    opacity: 1; /* Appears */
    transform: translateX(0); /* Comes back to its original position */
}
.portfolio__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px 6px 0px 0px;
}
.portfolio__text-container {
    padding: 15px;
    background-color: var(--white);
    border-radius: 0px 0px 6px 6px;
}
.portfolio__text-container h2 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--purple);
    word-break: break-all;
}
.portfolio__text-container p {
    margin: 15px 0 5px 0;
    font-size: .75rem;
    letter-spacing: 1.5px;
    color: #000;
}
.portfolio__btn {
    min-width: 130px;
    min-height: 50px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: var(--purple);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}


/* -- PORTFOLIO ENDS --*/


/* -- ABOUT --*/
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__members-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.about__members {
    background: #333;
    padding: 25px 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.about__info-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.about__members h3 {
    margin: 0;
}
.about__members img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.about__members ul {
    margin: 0;
    list-style: none;
    margin-bottom: 12px;
}
.about__members ul li {
    margin-bottom: 13px;
}
/* -- ABOUT ENDS --*/



@media (min-width: 768px) {
    /* HEADER */
    .menu-toggle {
        display: none;
    }
    .header__links-container {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        background: none;
        padding-top: 0; /* Correct mobile padding */
    }
    /* HEADER ENDS */

    /* PRESENTATION */
    .presentation {
        height: 80vh;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
    .presentation__text {
        align-items: flex-start;
    }
    .presentation__icon-container{
        display: flex;
        justify-content: space-between; /* Space between the two elements */
        width: 50%;
    }
    #presentation__cellphoneSVG {    
        flex: 1; /* Distribute the space equally */
        max-width: 40%; /* So they don't exceed 100% together */
        height: auto;
    }
    #presentation__laptopSVG {
        flex: 1;
        max-width: 60%;
        height: auto;
    }
    /* PRESENTATION ENDS */

    /* SERVICES */
    .services {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service__cards-container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    /* SERVICES ENDS */

    /* PORTFOLIO */
    .portfolio {
        min-height: 90vh;
        padding: 30px;
    }
    .portfolio__articles-container {
        max-width: 850px;
        gap: 25px;
    }
    .portfolio__text-container h2 {
        font-size: 1.6rem;
    }
    .portfolio__text-container p {
        white-space: normal;
        font-size: .9rem;
    }
    /* PORTFOLIO ENDS */

    /* ABOUT */
    .about__members-container {
        flex-direction: row;
        justify-content: center;
        column-gap: 30px;
        width: 100%;
    }
    .about__title {
        font-size: clamp(2rem, 7vw, 3.5rem);
    }
    .about__info-container {
        min-width: 100px;
    }
    .about__members {
        flex-direction: row;
        min-height: 270px;
        min-width: 290px;
        max-width: 450px;
    }
    /* ABOUT ENDS */
}
